/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  font-family: 'Montserrat', sans-serif; font-weight:300; font-size:13px; color:#757575;

}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{font-family: 'Montserrat', sans-serif; font-weight:500;}
/*Menu Css*/
.navbar-nav .nav-link{color:#bdbdbd !important; opacity:1 !important; font-weight:700; text-transform:uppercase; font-size:11px; padding:0.7rem 1rem !important;-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;}
body{ padding-right:0 !important;}	
.lightheader{background:rgba(0, 0, 0, 0.9490196078431372); padding-right:0 !important; box-shadow: 0 0 10px rgba(51, 51, 51, 0.16);-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;}
.logo{ width:100%;-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;}
.lightheader .logo{ width:50%;-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;}
.lightheader .navbar-nav .nav-link{ color:#fff !important;-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;}
.navbar-nav .nav-link:hover{color:#72bf58 !important;}	
.lightheader .navbar-nav .nav-link.active{color:#72bf58 !important;}	
.navbar-nav .last .nav-link{background:#72bf58; color:#ffffff !important;}
.navbar-nav .last .nav-link:hover{opacity:.7 !important;}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.banner .carousel {
  margin-bottom:0;
}
.banner .carousel-inner{ height:100vh;}
/* Since positioning the image, we need to help out the caption */
.banner .carousel-caption {
  top:50%; margin-top:-170px;
  z-index: 10;
}
.banner .carousel-caption h4{ font-size:18px; color:#7ddf5c; text-transform:uppercase; font-weight:800;}
.banner .carousel-caption h1{ font-size:30px; color:#fff; text-transform:uppercase; font-weight:800; position:relative; margin-bottom:50px;}
.banner .carousel-caption h1::before{ width:70px; height:3px; position:absolute; left:50%; margin-left:-35px; bottom:-30px; background:#fff; opacity:.3; content:"";}
.banner .carousel-caption p{ font-size:22px; color:#fff; font-weight:900;text-transform:uppercase;}
.banner .carousel-caption p span{ font-size:14px; color:#fff; display:block; font-weight:600;text-transform:uppercase;}
.banner .carousel-caption p a{ font-size: 11px; color: #fff; font-weight:800;text-transform: uppercase; background: rgba(0, 0, 0, 0.61); padding: 14px 20px; border-radius: 24px;}
.banner .carousel-caption p a:hover{ text-decoration:none; color:#7ddf5c;}


/* Declare heights because of positioning of img element */
.banner .carousel-item {
   height:100vh;
  background-color: #777;
}
.banner .carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100vh;
}
.banner .carousel-control-next, .banner .carousel-control-prev{ width:28px; height:20px; opacity:1; top:50%; margin-top:-10px;}
.banner .carousel-control-next{background:url(../images/banner_next_bt.png) 0 0 no-repeat;right:50px;-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;}
.banner .carousel-control-next:hover{background-position:0 -40px;-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;}
.banner .carousel-control-prev{background:url(../images/banner_prev_bt.png) 0 0 no-repeat;left:50px;-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;}
.banner .carousel-control-prev:hover{background-position:0 -40px;-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;}	


section {padding:90px 0;}
section h2{ color:#424242;font-size:18px; font-weight:800; text-transform:uppercase; margin-bottom:18px;}
h3.sub_heading{ font-size:13px; color:#757575; text-transform:uppercase; margin-bottom:50px;}

/*Powered Logo Css*/
#poweredby{ padding:0;}
.poweredby_logo{ border-radius: 8px; color:#424242; font-size:13px; font-weight:700; text-transform:uppercase; box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.11); padding:0 20px; margin-top: -20px; position: relative; z-index: 9; background: #fff;}
.poweredby_logo img{ margin-left:20px;}
.poweredby_logo .border-right{ border-color:#eee !important; padding-top:20px; padding-bottom:20px;}
.poweredby_logo .col-lg-6{padding-top:20px; padding-bottom:20px;}


/*About Section Css*/
#about p{ font-size:13px; color:#757575;margin-bottom:26px; padding:0px; line-height:28px;}
#about p a{ color:#72bf58; font-weight:700;}
#about p a:hover{ text-decoration:underline;}


/*summit section css*/
#summit{ background:#f5f5f5;}
.summit_text p{ font-size:13px; color:#757575;margin-top:26px; padding-left:30px; line-height:28px;}
.summit_table{ margin-top:40px; text-align:center; display:inline-block; width:100%;}
.summit_table .day1{display:inline-block;width:24%; vertical-align:top; background:#fff; border:#eeeeee solid 1px; border-radius:5px; overflow:hidden; min-height:1024px;}
.summit_table .day1 h3{color:#e1fdf4; text-transform:uppercase; font-size:24px; font-weight:900;background:#1ada99; text-align:center; padding:24px 20px;}
.summit_table .day1 h3 span{ display:block; font-size:13px; font-weight:700; }
.summit_table .des{ padding:0 20px;}
.summit_table .day1 .list{ border-bottom:#eee solid 1px; padding:10px 0; font-size:12px; color:#424242; font-weight:500; text-align:center; line-height: 22px;}
.summit_table .day1 .list span{ display:block; color:#1ada99;}
.summit_table .day1 .list p{ font-size:11px; color:#757575; line-height:18px;}
.summit_table .day2 h3{ background:#29c974;}
.summit_table .day3 h3{ background:#268881;}
.summit_table .day4 h3{ background:#3e4998;}
.summit_table .day2 .list span{ color:#37c275;}
.summit_table .day3 .list span{ color:#268881;}
.summit_table .day4 .list span{ color:#3e4998;}


/*Our Services Section css*/
#our_services h2{ margin-bottom:40px;}
#our_services .services_pic{ margin: 0;margin-bottom: 0;border-radius: 0; height: 45px; vertical-align: bottom; display: table-cell;}
#our_services .services_pic img{ vertical-align:bottom;}
#our_services .services_list{background: #fff; padding:0; overflow: hidden; margin-bottom:0;}
#our_services .services_list h6{ clear:both; font-size:13px; color:#424242; font-weight:700; margin-top:30px; margin-bottom:22px;display: inline-block; width: 100%;}
#our_services .services_list p{ font-size:13px; color:#757575;margin-bottom:26px;}
#our_services .services_list a.read_more{ color:#72bf58; font-size:11px; text-transform:uppercase; font-weight:700;}
#our_services .services_list a:hover{ text-decoration:underline;}


/*Focus Section Css*/
#focus{ background:#f5f5f5;}
#focus p{ color: #757575; font-size: 13px; text-align: justify; line-height: 30px;}


/*Gallery Css*/
#gallery{ background:#272b31;}
#gallery h2{ color:#fff;}
.gallery_list{width: 24.4%;float: left; border-radius: 5px;overflow: hidden; margin-bottom: 7px;margin-left: 7px;}
.gallery_list img{ width:100%;}
#gallery .nav-tabs{border: none;float: right; clear: both; margin-top: -50px; margin-bottom:50px;}
.tab-content{ clear:both;}
#gallery .nav-tabs a{font-size: 13px; color: #818690;font-weight: 700; border: #383d46 solid 2px;border-radius: 30px;padding: 10px 30px; margin-left:14px;}
#gallery .nav-tabs a.active{ color:#72bf58; border-color:#72bf58; background:none;}

#gallery .carousel-inner{ padding-bottom:50px;}
#gallery .carousel-control-next, #gallery .carousel-control-prev{ width:28px; height:20px; opacity:1; bottom:0; top:inherit; background:none;}
#gallery .carousel-control-next{background:url(../images/gallery_next_bt.png) 0 0 no-repeat;right:50%; margin-right:-40px;-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;}
#gallery  .carousel-control-next:hover{background-position:0 -30px;-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;}
#gallery .carousel-control-prev{background:url(../images/gallery_prev_bt.png) 0 0 no-repeat;left:50%; margin-left:-40px;-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;}
#gallery .carousel-control-prev:hover{background-position:0 -30px;-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;}	

/*Testimonials Css*/
.carousel-inner .carousel-item .img-box{width:72px;height:72px; overflow:hidden;}
.carousel-control-prev{	left:0;}
.carousel-control-next{	right:0;}
.carousel-indicators{top: 320px;}
#testimonials .carousel-item{ background:none; height:auto;}
#testimonials .carousel-inner{ height:auto; margin-bottom:50px;}
#testimonials h2{ margin-top:30px;}
#testimonials p{ font-size:17px; color:#424242; margin-bottom:40px;padding: 0 36px;}
#testimonials p a{ color:#72bf58; }
#testimonials p a:hover{ text-decoration:underline;}
#testimonials h5{ font-size:13px; color:#424242; font-weight:800; margin-top:24px;}
#testimonials h6{ font-size:13px; color:#757575; font-weight:500; margin-top:16px;}
#testimonials .carousel-control-next, #testimonials .carousel-control-prev{ width:28px; height:20px; opacity:1; top:30px;}
#testimonials .carousel-control-next{background:url(../images/testimonial_next_bt.png) 0 0 no-repeat;right: -50px;-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;}
#testimonials .carousel-control-next:hover{background-position:0 -26px;-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;}
#testimonials .carousel-control-prev{background:url(../images/testimonial_prev_bt.png) 0 0 no-repeat;left: -50px;-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;}
#testimonials .carousel-control-prev:hover{background-position:0 -26px;-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;}	

/*News & Event Css*/
#news{ background:#f5f5f5;}
#news h2{ margin-bottom:50px;}
#news .events_pic{ margin:0; margin-bottom:0; border-radius:0; width:100%; height:190px; position:relative;}
#news .events_pic img{ height: 100%; width: 100%;}
#news .events_list{background: #fff;border: #eee solid 1px; padding:0;  border-radius:8px; overflow: hidden; margin-bottom:60px;}
#news .events_list h6{ clear:both; font-size:13px; color:#424242; font-weight:700; margin-top:24px; margin-bottom:18px;display: inline-block; width: 100%; padding:0 20px;}
#news .events_list p{ font-size:13px; color:#757575;margin-bottom:26px; padding:0 20px;}
#news .events_list p a{ color:#72bf58; font-weight:700;}
#news .events_list p a:hover{ text-decoration:underline;}
.event_overlay{position: absolute;left: 0;top: 0;width: 100%;height: 190px;/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+97&0+0,0.65+100 */
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.63) 97%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.63) 97%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.63) 97%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */}
.date_time{position: absolute; left:0; bottom: 0; padding:16px 20px; font-size:11px; color:#fff; font-weight:600;}
.date_time span{ display:block;}


/*Recent Blog Css*/
.blog_pic {width: 80px;height: 80px;float: left; border-radius: 50%; overflow: hidden;}
.blog_pic .photo {display: table-cell; vertical-align: middle;}
.blog_pic .photo img { width: 100%;}
.blog_list{background: #fff;border: #eee solid 1px; padding: 20px; padding-bottom:0; border-radius: 5px; overflow: hidden; margin-bottom:60px;}
.blog_list h6{ clear:both; font-size:13px; color:#424242; font-weight:700; margin-top:24px; margin-bottom:18px;display: inline-block; width: 100%;}
.blog_list p{ font-size:13px; color:#757575;margin-bottom:26px;}
.blog_list p a{ color:#72bf58; font-weight:700;}
.blog_list p a:hover{ text-decoration:underline;}
.blog_list .date{ background:#f5f5f5; padding:14px 20px; margin:0 -20px; font-size:11px; font-weight:600;}
.view_all{background: #72bf58; font-size: 11px;color: #ffffff;font-weight: 700;text-transform: uppercase;padding: 11px 30px; display: inline-block;}
.view_all:hover{opacity:.7 !important; color:#ffffff; text-decoration:none;}

/*Partnered By Css*/
#partnered{ background:#f5f5f5;}
#partnered .carousel-item{ background:none; height:auto;}
#partnered .carousel-inner{ height:auto; padding-bottom:50px;}
#partnered .lSAction > a{ width:28px; height:20px; opacity:1; bottom:0; top:inherit; background:none;}
#partnered .lSAction > .lSNext{background:url(../images/testimonial_next_bt.png) 0 0 no-repeat;right:50%; margin-right:-40px;-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;}
#partnered .lSAction > .lSNext:hover{background-position:0 -26px;-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;}
#partnered .lSAction > .lSPrev{background:url(../images/testimonial_prev_bt.png) 0 0 no-repeat;left:50%; margin-left:-40px;-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;}
#partnered .lSAction > .lSPrev:hover{background-position:0 -26px;-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;}	
#partnered .lSSlideWrapper{ padding-bottom:40px;}
#partnered .col-md-2 a{ border:#eee solid 1px; border-radius:5px; overflow:hidden; display:block; background:#fff; padding:20px; position:relative;}
#partnered .partner_name{position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.71);
    border-radius: 5px; text-align:center; display:none; -webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;}
#partnered .partner_name h5{display: table-cell; vertical-align:middle; height:111px; text-align:center; font-size:10px; color:#ffffff; font-weight:700; text-transform:uppercase; width:200px;}	
#partnered ul li a:hover .partner_name{ display:block; -webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;}
#partnered ul li{ padding:10px; background:#fff; border:#eee solid 1px; border-radius:5px; overflow:hidden; position:relative;}	
#partnered ul li img{ width:100%;}


/*Footer Css*/
#contact{background:url(../images/footer_bg.jpg) 0 -50px no-repeat;background-size: cover; padding-bottom:0; padding-top:70px;}
#contact h2{ font-size:18px; color:#fff; font-weight:700; text-transform:uppercase; margin-bottom:50px;}
.contact_form{ padding-right:70px;}
.contact_form input{ background:#272b31; border:#495059 solid 1px; border-radius:0; height:42px; font-size:13px; color:#bdbdbd; font-weight:400;font-family: 'Montserrat', sans-serif;}
.contact_form textarea{ background:#272b31; border:#495059 solid 1px; border-radius:0; resize:none; height:120px; font-size:13px; color:#bdbdbd;font-weight:400;font-family: 'Montserrat', sans-serif;}
.form-control:focus{color:inherit; background-color:inherit; border-color:#495059; outline: 0;box-shadow:none;}
.contact_form input[type="submit"]{background: #72bf58; font-size: 11px; color: #fff; border-radius: 0; text-transform: uppercase; font-weight: 600; padding: 0 30px; cursor: pointer;-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;}
.contact_form input[type="submit"]:hover{opacity:.7;-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;}

.map_location{display: inline-block; width:100%; height:196px; margin-top:30px; margin-bottom:30px;}
.map_location a{ display:block;height: 250px;}

.contact_detail{ margin:0; padding:0; list-style:none;}
.contact_detail li{ font-size:12px; color:#bdbdbd; font-weight:500; margin-bottom:40px; padding-left:44px;}
.contact_detail li.address{background:url(../images/address_icon.png) 4px 1px no-repeat;}
.contact_detail li.mail_icon{background:url(../images/mail_icon.png) 0 center no-repeat;}
.contact_detail li.mail_icon a{color:#bdbdbd;}
.contact_detail li.phone_no{background:url(../images/phone_icon.png) 0 center no-repeat;}
.social_icon{ margin:0; padding:0; list-style:none;}
.social_icon li{ float:left; width:41px; height:41px; margin-right:12px;text-indent: -99999px;}
.social_icon li a{ display:block; height:41px;}
.social_icon li.fb_icon{background:url(../images/fb_icon.png) 0 0 no-repeat;-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;}
.social_icon li.fb_icon:hover{background-position:0 -44px;-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;}
.social_icon li.tw_icon{background:url(../images/tw_icon.png) 0 0 no-repeat;-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;}
.social_icon li.tw_icon:hover{background-position:0 -44px;-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;}
.social_icon li.gplus_icon{background:url(../images/google_icon.png) 0 0 no-repeat;-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;}
.social_icon li.gplus_icon:hover{background-position:0 -44px;-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;}
.social_icon li.youtube_icon{background:url(../images/youtube_icon.png) 0 0 no-repeat;-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;}
.social_icon li.youtube_icon:hover{background-position:0 -44px;-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;}
.social_icon li.insta_icon{background:url(../images/insta_icon.png) 0 0 no-repeat;-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;}
.social_icon li.insta_icon:hover{background-position:0 -44px;-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;}
	
.bottom_menu{ padding:24px 0; background:#fff;}
.bottom_menu ul{ text-align:center; display:inline-block; width:100%; margin-bottom:14px;}
.bottom_menu ul li{ display:inline-block;color:#757575;border-right: #757575 solid 1px;line-height: 12px;}
.bottom_menu .navbar-nav .nav-link{ font-size:11px !important; color:#757575 !important; font-weight:500 !important; padding:0 1rem !important;-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;}
.bottom_menu .navbar-nav .nav-link:hover{color:#72bf58 !important;-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;}	
.bottom_menu span{ display:block; text-align:center; color:#9e9e9e; font-weight:500; font-size:11px;}	




/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 1200px){
.container {max-width: 1200px;}
}

@media (max-width: 1024px) {
.navbar-nav .nav-link{padding:0.7rem 0.3rem !important; font-size:9px;}  
.poweredby_logo .border-right{}
}

@media (max-width: 991px) {
.navbar-nav .nav-link{padding:0.7rem 0.3rem !important; font-size:9px;}  
.poweredby_logo .border-right{ text-align:center;}
.poweredby_logo .col-lg-6{ text-align:center;}
.poweredby_logo img{ margin-left:20px; margin-right:20px; margin-top:10px;}
.poweredby_logo .col-lg-6 img{ width:80%;}
.summit_text p{ margin-top:30px; padding-left:0;}
#partnered .col-md-2 a{ padding:5px;}
#partnered .partner_name h5{ height:62px;}
.banner .carousel-caption{ margin-top:-128px;}
.gallery_list{ width:23.5%;}
#summit .d-block{ width:100%;}
 
}

@media (max-width: 767px) {
  .banner .carousel-caption h4{ font-size:12px;}
  .banner .carousel-caption h1{ font-size:15px;}
  .banner .carousel-caption p a{ font-size:8px; padding:10px;}
  .banner .carousel-caption{ left:6%; right:6%;}
  .banner .carousel-control-next{ right:2px;}
  .banner .carousel-control-prev{ left:2px;}
  .banner .carousel-caption p span{ font-size:12px;}
  .carousel-inner .carousel-item p{ font-size:12px;}
  .summit_table .day1{ width:48%; margin-bottom:10px;}
  #our_services .services_list{ border-bottom: #eee solid 1px; padding-bottom: 20px;  margin-bottom: 20px;}
  #testimonials .carousel-control-next{ right:-30px;}
  #testimonials .carousel-control-prev{ left:-30px;}
  #testimonials p{ padding: 0 20px;}
  #news .events_list{ margin-bottom:20px;}
  .blog_list{ margin-bottom:20px;}
  .contact_form{ padding-right:15px; margin-bottom:30px;}
  .contact_form .pr-2{ padding-right:15px !important; margin-bottom:15px;}
  .contact_form .pl-2{ padding-left:15px !important;}
  .contact_detail li{ margin-bottom:22px;}
  .map_location a{ height:174px;}
  #contact{ background-position:50% 0px;}
  .bottom_menu .navbar-nav .nav-link{padding: 0 8px !important;}
  #poweredby{ padding:0 15px;}
  #poweredby span{ display:block;}
  #focus .pl-5{ padding-left:15px !important;}
  .navbar-collapse{width: 200px; position: absolute;right: 14px; background: #000;top: 83px; padding: 10px 14px;}
  .navbar-nav .nav-link{padding: 0.7rem 1rem !important;}
  .lightheader .navbar-collapse{ top:76px;}
  #partnered .partner_name h5{ font-size:7px; height:50px;}
  
  
}

@media (max-width: 586px) {
  .summit_table .day1{ width:100%; min-height:inherit; margin-bottom:10px;}
  #focus .pl-5{ padding-left:15px !important;}
  .gallery_list{ width:46%;}
  #gallery .nav-tabs{ margin-top:0; float:left;}
  #gallery .nav-tabs a{ margin-left:0; margin-right:5px; padding:10px 20px; margin-bottom:5px;}
}

